<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE SAVER</title>
    <link rel="icon" href="images/save_icon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <%- include('nav'); %>
    </div>
    <div class="note-grid_container">

        <% allNote.map((data)=>{ %>
            <% var x = data.note.slice(0,20); var y = data.title.slice(0,20); %>
        <div class="single-note" data-note=<%= data._id  %>>
            
            <div class="single-note_content">
                <h2><%= y %></h2>
                <h4 id="note"><%= x %></h4>

            </div>
            <div class="single-note_button">
                <a href=<%= `/${data._id}`  %>  data-note=<%= data._id %> id="go"><img src="./images/forward_icon.png" alt=""></a>
                <button id="delete" onclick="deletebtn(event)"><img src="./images/delete-sign.png" alt=""></button>
            </div>
            
        </div>
        <% }) %>
    </div>

    <script src="app.js"></script>
</body>
</html>